.players {
  top: 0px;
  left: 0px;
  width: 100vw;
  position: fixed;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: center;
}

.player {
  display: inline-block;
  position: relative;
  margin: 0px 4px;
}

.card {
  position: relative;
}

.name {
  display: flex;
  gap: 4px;
  margin-bottom: 6px;
  align-items: center;
  z-index: 2;
  justify-content: center;
  position: relative;
}

.name span {
  flex: 1;
  height: 20px;
  line-height: 24px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
}