.players {
  top: 0px;
  left: 0px;
  width: 100vw;
  position: fixed;
  padding: 0px 20px;
  box-sizing: border-box;
  transform: translateY(-50%);
  text-align: center;
}

.player {
  display: inline-block;
  position: relative;
  margin: 0px 4px;
}

.card {
  transform: rotate(180deg);
  position: relative;
}

.name {
  display: flex;
  gap: 4px;
  margin-top: 10px;
  align-items: center;
  z-index: 2;
  justify-content: center;
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.show .card {
  transform: translateY(70%);
  zoom: 1;
  position: relative;
}

.show .name {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
}