.container {
    position: relative;
    top: -25%;
    min-height: 360px;
    width: 50%;
}

.ChatBoxWarper {
    top: 0;
    position: absolute;
    width: 50%;
    left: 2%;
    height: 100%
}

div.inputBlock {
    border: solid 3px black;
    border-radius: 0 0 12px 12px;
    border-top: solid 1px black;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 12px;
    align-items: center;
    gap: 2px;
}

div.inputBlock input {
    border: none;
    border-radius: 12px;
    flex: 1;
    height: 36px;
    background-color: transparent;
    color: #fafafa;
    font-family: thonburi, sans-serif;
}

div.inputBlock img {
    cursor: pointer;
}

.chatBox {
    color: #fafafa;
    border: solid 3px black;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px 12px 0 0;
    padding: 8px 12px;
    height: calc(100% - 60px);
    overflow: scroll;
    display: flex;
    position: relative;
}

.chatBox li {
    line-height: 24px;
    font-size: 20px;
    font-family: thonburi, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    word-wrap: break-word;
}

.chatBox .chat {
    width: 100%;
    display: block;
    overflow: scroll;
    user-select: none;
}

.quickReply {
    position: absolute;
    right: 1%;
    top: 0;
    width: 40%;
    border: solid 1px black;
    border-radius: 20px;
    background-color: lightgray;
    padding: 8px 16px;
    overflow: scroll;
    height: calc(100% - 16px);
}