div.inputBlock {
    border: solid 1px black;
    border-radius: 12px;
    display: flex;
    background-color: white;
    padding-right: 12px;
    align-items: center;
    gap: 2px;
}

div.inputBlock input {
    border: none;
    border-radius: 12px;
    flex: 1;
}

div.inputBlock img {
    cursor: pointer;
}
.chatBoxBg {
  background-color: #f8eca8;
  border: 4px solid #fff;
  border-radius: 18px;
  padding: 15px;
}
.chatBox {
    margin-bottom: 20px;
    height: 280px;
    overflow: scroll;
    display: flex;
}

.chatBox .title {
  font-size: 20px;
  padding-bottom: 10px;
}

.chatBox li {
  font-size: 20px;
  display: flex;
  margin-bottom: 5px;
  align-items: end;
    
}

.chatBox .message {
  background-color: #f5f5eb;
  border-bottom-right-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chatBox .chat {
    flex: 1;
    overflow: scroll;
}

.chatBox .quickReply {
    display: flex;
    width: 40%;
}