.stacks {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin: auto;
  position: relative;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack {
  flex: 1 1;
  display: flex;
  gap: 8px;
  position: relative;
}

.slot {
  height: 15vh;
  aspect-ratio: 0.8;
  border-radius: 16px;
  position: relative;
  border: 5px dashed rgba(255, 255, 255, 0.5);
}

.redLine {
  border-color: rgb(190, 24, 24);
}

.slot > div {
  width: 100%;
}
